
<div class="card flex justify-content-center">
    <p-card header="Help Center" class="help_center">
        <p class="m-5">
           we are currently working on an FAQ and knowledge Base to help answer your most common quetions. Till then you can contact us by giving us a call or dropping us a message on WatsApp and our Experience Designers will connect  with you shortly to resolve your quetions.
        </p>
        <p-button label="WhatsApp Us" icon="pi pi-external-link" class="m-2" severity="success"></p-button>
        <p-button label="Call Us" [raised]="true" icon="pi pi-phone" severity="help" class="m-2"></p-button>
    </p-card>
</div>
 <div class="text-center px-8">
    <h1 class="text-3xl">
        Top Selling Categories  on Cherishx
    </h1>
 </div>

 <div class="grid">
    <div class="col-12 sm:col-12 md:col-3 lg:col-3 xl:col-3">
        <div class="card text-center">
            <p-card header="">
                <p class="m-0">
                    <img src="https://deowgxgt4vwfe.cloudfront.net/uploads/1548270041_small.jpg" class="w-full" alt="">
                </p>
                <ng-template pTemplate="footer">
                    Room Decorations
                </ng-template>
            </p-card>
        </div>
    </div>
    <div class="col-12 sm:col-12 md:col-3 lg:col-3 xl:col-3">
        <div class="card text-center">
            <p-card header="">
                <p class="m-0">
                    <img src="https://deowgxgt4vwfe.cloudfront.net/uploads/1580714448_small.jpg" class="w-full" alt="">
                </p>
                <ng-template pTemplate="footer">
                    Candlelight Dinner
                </ng-template>
            </p-card>
        </div>
    </div>
    <div class="col-12 sm:col-12 md:col-3 lg:col-3 xl:col-3">
        <div class="card text-center">
            <p-card header="">
                <p class="m-0">
                    <img src="https://deowgxgt4vwfe.cloudfront.net/uploads/1500228927_small.jpg" class="w-full" alt=""> 
                </p>
                <ng-template pTemplate="footer">
                    Surprises & Gifts
                </ng-template>
            </p-card>
        </div>
    </div>
    <div class="col-12 sm:col-12 md:col-3 lg:col-3 xl:col-3">
        <div class="card text-center">
            <p-card header="">
                <p class="m-0">
                    <img src="https://deowgxgt4vwfe.cloudfront.net/uploads/1560416538_small.jpg" class="w-full" alt="">
                </p>
                <ng-template pTemplate="footer">
                    Cakes & Bouquets
                </ng-template>
            </p-card>
        </div>
    </div>
</div>